@font-face {
  font-family: "Roboto";
  src: url("../../Fonts/roboto-slab-400-regular.woff") format("woff"),
    url("../../Fonts/roboto-slab-400-regular.woff2") format("woff2"),
    url("../../Fonts/roboto-400-regular.woff") format("woff"),
    url("../../Fonts/roboto-400-regular.woff2") format("woff2");
}

.main {
  max-width: 1440px;
  height: 576px;
  background-color: #00000080;
  background-image: url("../../Images/georgia-de-lotz--UsJoNxLaNo-unsplash.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.main__title {
  font-family: Roboto Slab;
  font-size: 60px;
  font-weight: 400;
  line-height: 64px;
  text-align: left;
  color: #fff;
  padding: 80px 416px 0;
  margin: 0;
  width: 608px;
  height: 128px;
}

.main__subtext {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  padding: 32px 416px 0;
  margin: 0;
  color: #fff;
  width: 608px;
  height: 24px;
}

.main__overlay {
  background-color: #00000080;
  height: 576px;
  max-width: 1440px;
  padding: 0;
  margin: 0;
}
