@font-face {
  font-family: "Roboto";
  src: url("../../Fonts/roboto-400-regular.woff") format("woff"),
    url("../../Fonts/roboto-400-regular.woff2") format("woff2"),
    url("../../Fonts/roboto-slab-400-regular.woff") format("woff"),
    url("../../Fonts/roboto-slab-400-regular.woff2") format("woff2"),
    url("../../Fonts/roboto-700.woff") format("woff"),
    url("../../Fonts/roboto-700.woff2") format("woff2");
}

.savedNews {
  background-color: #fff;
}

.savedNews__group {
  display: flex;
  flex-direction: column;
  margin: 40px 0 56px 189px;
  max-width: 712px;
  max-height: 198px;
}

.savedNews__title {
  max-width: 712px;
  height: 24px;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

.savedNews__subtext {
  max-width: 530px;
  height: 92px;
  font-family: Roboto Slab;
  font-size: 40px;
  font-weight: 400;
  line-height: 46px;
  text-align: left;
}

.savedNews__search-grouping {
  max-width: 712px;
  height: 24px;
}

.savedNews__search-text {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

.savedNews__search-text_bold {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
}
