@font-face {
  font-family: "Roboto";
  src: url("../../Fonts/roboto-400-regular.woff") format("woff"),
    url("../../Fonts/roboto-400-regular.woff2") format("woff2"),
    url("../../Fonts/roboto-slab-400-regular.woff") format("woff"),
    url("../../Fonts/roboto-slab-400-regular.woff2") format("woff2"),
    url("../../Fonts/roboto-700.woff") format("woff"),
    url("../../Fonts/roboto-700.woff2") format("woff2");
}

.saved-news {
  background-color: #fff;
}

.saved-news__group {
  display: flex;
  flex-direction: column;
  padding: 40px 80px 0px 106px;
  max-width: 712px;
  max-height: 198px;
}

.saved-news__title {
  max-width: 712px;
  height: 24px;
  margin: 0;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

.saved-news__subtext {
  max-width: 530px;
  height: 92px;
  margin: 28px 0 30px;
  font-family: Roboto Slab;
  font-size: 40px;
  font-weight: 400;
  line-height: 46px;
  text-align: left;
}

.saved-news__search-grouping {
  max-width: 712px;
  height: 24px;
  margin: 0 0 56px;
}

.saved-news__search-text {
  margin: ;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

.saved-news__search-text_bold {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
}
