@font-face {
  font-family: "Roboto";
  src: url("../../Fonts/roboto-slab-700.woff") format("woff"),
    url("../../Fonts/roboto-slab-700.woff2") format("woff2"),
    url("../../Fonts/roboto-500.woff") format("woff"),
    url("../../Fonts/roboto-500.woff2") format("woff2");
}

.header {
  max-width: 1440px;
  height: 80px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  box-shadow: 0px -1px 0px 0px #ffffff33 inset;
}

.header__link-main {
  font-family: Roboto Slab;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  padding-left: 104px;
}

.header__link-group {
  display: flex;
  align-items: center;
  gap: 42px;
  padding-right: 104px;
}

.header__link-home {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  max-height: 24px;
  cursor: pointer;
  background: none;
  border: none;
  color: #fff;
}

.header__link-home:hover {
  color: #000;
}

.header__link-signin {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  width: 176px;
  height: 48px;
  border: 1px solid #fff;
  border-radius: 25px;
  cursor: pointer;
  color: #fff;
  background-color: transparent;
}

.header__link-signin:hover {
  color: #000;
}

.header__home-underline {
  background: url("../../Images/Vector\ \(Stroke\).svg") center no-repeat;
  width: 68px;
  height: 3px;
  position: absolute;
  bottom: -27px;
  right: -7px;
}

.home__grouping {
  position: relative;
}
