@font-face {
  font-family: "Roboto";
  src: url("../../Fonts/roboto-slab-700.woff") format("woff"),
    url("../../Fonts/roboto-slab-700.woff2") format("woff2"),
    url("../../Fonts/roboto-500.woff") format("woff"),
    url("../../Fonts/roboto-500.woff2") format("woff2");
}

.header {
  max-width: 1440px;
  height: 80px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.header__overlay {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  height: 80px;
}

.header__link-main {
  font-family: Roboto Slab;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  padding-left: 104px;
}

.header__link-group {
  display: flex;
  align-items: center;
  gap: 42px;
  padding-right: 104px;
}

.header__link-home {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  max-height: 24px;
  cursor: pointer;
  background: none;
  border: none;
  color: #fff;
}

.header__link-home:hover {
  color: #000;
}

.header__link-saved-articles {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  cursor: pointer;
  background: none;
  border: none;
  color: #b6bcbf;
}

.header__link-saved-articles:hover {
  color: #000;
}

.header__link-signin {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  width: 176px;
  height: 48px;
  border: 1px solid #fff;
  border-radius: 25px;
  cursor: pointer;
  color: #fff;
  background-color: transparent;
}

.header__link-signin:hover {
  color: #000;
}

.header__button-logout {
  display: flex;
  gap: 15px;
  align-items: center;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  max-width: 176px;
  height: 48px;
  border: 1px solid #000;
  border-radius: 25px;
  cursor: pointer;
  color: #000;
  background-color: transparent;
}

.header__home-underline {
  background: url("../../Images/Vector\ \(Stroke\).svg") center no-repeat;
  width: 68px;
  height: 3px;
  position: absolute;
  bottom: -27px;
  right: -7px;
}

.home__grouping {
  position: relative;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .header {
    max-width: 1279px;
  }

  .header__overlay {
    max-width: 1279px;
  }

  .header__link-group {
    padding-right: 40px;
  }

  .header__link-main {
    padding-left: 40px;
    font-family: Roboto Slab;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
  }

  .header__link-home {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
  }

  .header__link-signin {
    width: 152px;
    height: 40px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
  }
}
