.news-grid {
  max-width: 1440px;
  background-color: #f5f6f7;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  column-gap: 16px;
  padding: 80px 104px;
  overflow: hidden;
}

.news-grid__title {
  max-width: 712px;
  height: 46px;
  margin-top: 0;
  margin-bottom: 64px;
  font-family: Roboto-Slab, Inter, Arial, Helvetica, sans-serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 46px;
  text-align: left;
}

.news-grid__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  margin-bottom: 64px;
}

.news-grid__button_load-articles {
  max-width: 288px;
  height: 56px;
  padding: 17px 90px;
  background-color: #fff;
  border: none;
  border-radius: 25px;
  font-family: Roboto, Inter, Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  align-self: center;
  cursor: pointer;
}

.news-grid__button_load-articles:hover {
  background-color: #e8e8e8;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .news-grid {
    padding: 40px;
  }

  .news-grid__list {
    gap: 8px;
    margin-bottom: 32px;
  }

  .news-grid__title {
    max-width: 336px;
    height: 34px;
    margin-bottom: 32px;
    font-family: Roboto-Slab, Inter, Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 34px;
    text-align: left;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .news-grid {
    padding: 32px 16px;
  }

  .news-grid__list {
    grid: none;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-bottom: 16px;
  }

  .news-grid__title {
    max-width: 288px;
    height: 34px;
    margin: 0 auto 58px;
    font-family: Roboto-Slab, Inter, Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 34px;
    text-align: left;
  }

  .news-grid__load-articles {
    max-width: 288px;
    height: 56px;
  }
}
