@font-face {
  font-family: "Roboto";
  src: url("../../Fonts/roboto-500.woff") format("woff"),
    url("../../Fonts/roboto-500.woff2") format("woff2"),
    url("../../Fonts/roboto-400-regular.woff") format("woff"),
    url("../../Fonts/roboto-400-regular.woff2") format("woff2"),
    url("../../Fonts/roboto-slab-400-regular.woff") format("woff"),
    url("../../Fonts/roboto-slab-400-regular.woff2") format("woff2"),
    url("../../Fonts/roboto-slab-700.woff") format("woff"),
    url("../../Fonts/roboto-slab-700.woff2") format("woff2");
}

.card {
  max-width: 400px;
  height: 576px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 10px;
  gap: 16px;
}

.card__tag-container {
  max-width: 182px;
  padding: 0 20px;
  height: 40px;
  position: absolute;
  top: 24px;
  left: 24px;
  background-color: #fff;
  border-radius: 10px;
}

.card__tag {
  max-width: 43px;
  max-height: 24px;
  margin: 0;
  padding: 8px 22px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
}

.card__delete-button {
  position: absolute;
  top: 24px;
  right: 24px;
  padding: 0;
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  border: 0;
  border-radius: 8px;
  cursor: pointer;
}

.card__save-button {
  position: absolute;
  top: 24px;
  right: 24px;
  padding: 0;
  width: 40px;
  height: 40px;
  border: 0;
  border-radius: 8px;
}

.card__image {
  position: relative;
  max-width: 400px;
  width: 100%;
  height: 272px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card__publish_date {
  max-width: 160px;
  height: 24px;
  margin: 0;
  margin-bottom: 12px;
  padding-left: 24px;
  font-family: Roboto slab;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #b6bcbf;
  text-transform: capitalize;
}

.card__title {
  max-width: 352px;
  height: 60px;
  margin: 0;
  margin-bottom: 16px;
  padding-left: 24px;
  font-family: Roboto Slab;
  font-size: 26px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  color: #1a1b22;
  text-transform: capitalize;
}

.card__description {
  max-width: 352px;
  height: 110px;
  margin: 0;
  margin-bottom: 18px;
  padding-left: 24px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  color: #1a1b22;
  text-transform: capitalize;
}

.card__publisher {
  max-width: 352px;
  height: 20px;
  margin: 0;
  padding-left: 24px;
  font-family: Roboto Slab;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.4000000059604645px;
  text-align: left;
  color: #b6bcbf;
  text-transform: uppercase;
}

.card__login_prompt {
  max-width: 182px;
  padding: 0 20px;
  height: 40px;
  position: absolute;
  top: 24px;
  right: 68px;
  background-color: #fff;
  align-content: center;
  border-radius: 10px;
}

.card__login_prompt-text {
  max-width: 142px;
  height: 18px;
  position: relative;
  bottom: -2px;
  margin: 0;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 500;
  line-height: 14.06px;
  text-align: center;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .card {
    max-width: 224px;
    height: 420px;
  }

  .card__image {
    max-width: 224px;
    height: 150px;
  }

  .card__save-button {
    top: 8px;
    right: 8px;
  }

  .card__delete-button {
    top: 8px;
    right: 8px;
  }

  .card__publish_date {
    max-width: 147px;
    height: 24px;
    font-family: Roboto slab;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
  }

  .card__title {
    max-width: 192px;
    height: 72px;
    font-family: Roboto Slab;
    font-size: 22px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
  }

  .card__description {
    max-width: 192px;
    height: 88px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
  }

  .card__publisher {
    max-width: 192px;
    height: 20px;
    font-family: Roboto Slab;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0.4000000059604645px;
    text-align: left;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .card {
    max-width: 288px;
    height: 440px;
  }

  .card__image {
    max-width: 288px;
    height: 196px;
  }

  .card__save-button {
    top: 16px;
    right: 16px;
  }

  .card__delete-button {
    top: 16px;
    right: 16px;
  }

  .card__publish_date {
    max-width: 256px;
    height: 24px;
  }

  .card__title {
    max-width: 256px;
    height: 48px;
    margin-bottom: 14px;
  }

  .card__description {
    max-width: 256px;
    height: 88px;
    margin-bottom: 8px;
  }

  .card__publisher {
    max-width: 256px;
    height: 20px;
  }
}
